@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

html {
  scroll-behavior: smooth;
}

a {
  color: #ffffff;
  text-decoration: none;
}

body {
  margin: 0;
  background-color: var(--light);
  color: var(--color-text);
  font-family: 'Poppins', sans-serif;
  font-size: 15px;

}

.container {
  display: block;
}

header {

  background-color: #F8991F;
  min-width: 800px;
}



.content {
  list-style: none;
  background-color: #F8991F;
  z-index: 98;
}

.navbar {
  font-size: 20px;
  display: grid;
  min-width: 800px;

}

.navbar ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  z-index: 2;
  padding: 0;
  margin: 20px;
}

.navbar ul:hover li {
  color: red;
}



.logo img {
  position: absolute;
  top: 3%;
  left: 49%;
  width: 90px;
  object-fit: cover;
  justify-content: center;
  background-color: #ffffffe0;
  border-radius: 20px;
  box-shadow: #ffffff 50px;
  background-size: 60px;
  box-shadow: 0 0 10px white;
  z-index: 999;
  width: 67px;
  height: 123px;
  flex-shrink: 0;
}


#scrollToTopBtn {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: #ffae00e7;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 10%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(255, 123, 0, 0.9);
  z-index: 99;
}

#scrollToTopBtn span {
  font-size: 24px;
  line-height: 50px;
  display: block;
  text-align: center;
}

/*slide*/
.slideshow-container {
  position: relative;
  width: 100%;
  height: 90vh;
  /* Adjust the height as needed */
  overflow: hidden;
}

.slideshow-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.slideshow-container img.active {
  opacity: 1;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  color: white;
  text-decoration: none;
  opacity: 20%;
  padding: 16px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  transition: background-color 0.3s ease;
}

.prev:hover,
.next:hover {
  background-color: rgb(70, 69, 69);
  opacity: 100%;
}

.prev {
  left: 16px;
}

.next {
  right: 16px;
}


/* endslide */
#menu {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 200px;
  display: none;
  z-index: 9999;
}

#menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#menu li i {
  margin-right: 15px;
}

#menu li {
  padding: 20px;
  background-color: #525F6C;
  border-bottom: 1px solid #5d6a77;
  color: #fff;
  transition: 0.5s;
  opacity: 0;
  animation: showmenu 0.5s ease-in-out 1 forwards;
}

#menu li:nth-child(2) {
  animation-delay: 0.2s;
}

#menu li:nth-child(3) {
  animation-delay: 0.4s;
}

#menu li:nth-child(4) {
  animation-delay: 0.6s;
}

#menu li:hover {
  background-color: #72DE73;
  transform: translate(0, -10px);
  box-shadow: 0 10px 50px #636363;
}

@keyframes showmenu {
  from {
    opacity: 0;
    transform: translate(0, 20px);
  }

  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.Thongtin {
  margin: 50px;
  padding: auto;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.Thongtin .text-info .text-2 {
  text-align: left;
  padding-left: 200px;
  padding-right: 200px;
  font-size: 20px;

}

.fooder {
  background-color: #F8991F;
  padding: 50px;
  display: flex15 QUANG TRUNG, P.12, QUẬN 12, TP.Hồ Chí Minh;
}

.fooder .lienlac {
  margin-left: 100px;


}

.lienlac{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.text-lienlac{
  padding: 30px;
  display: grid;
  grid-template-columns: 39% 39% 39%;
}

.img-fooder {}

.text-lienlac{
  color: #fff;
}


.slider{
  top: 130px;
  position: relative;
  width: 95%;
  height: 600px;
  overflow: hidden;
}
.item{
  position: absolute;
  width: 400px;
  height: 420px;
  text-align: justify;
  padding: 20px;
  transition: 0.5s;
  left: calc(48% - 110px);
  top: 0;
  border-radius: 55px;
  background: #FBCDCB;
  filter: blur(25px);
}
#next, #prev{
  position: absolute;
  top: 500px;
  color: #000000;
  background-color: transparent;
  border: none;
  font-size: xxx-large;
  font-family: monospace;
  font-weight: bold;
  left: 48%;
  background-color: #7070703a;
  border-radius: 10px;
  background-size: 30px;
}
#next{
  left: unset;
  right: 40%;
}

.Thongtin-sanpham {
  padding: auto;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 200px;
}

.Thongtin .text-info .text-2 {
  text-align: left;
  padding-left: 200px;
  padding-right: 200px;
  font-size: 20px;

}